.clase1{
	font-size: 300px;
	font-family: calibri;
	color:blue;
}
.clase2{
	font-size:80px;
	color: #dc143c;
}
.clase3{
	font-size: 30px;
}
h2{
	font-size: 35px;
	color: #800000;
}
.cl1{
	color: navy;
	font-size: 35px;
}
h1{
	font-size: 78px;
}
.op{

	font-size:68px;
}